{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-4">
        <h5><a href="{{ path('category_index') }}">Back to the categories list</a></h5>
        <h1>Category creation</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        {{ form_label(form.submit) }}
        {{ form_end(form) }}

    </div>
{% endblock %}
