{% extends 'base.html.twig' %}

{% block body %}
    <div class="col-sm-4">
        <p><a href="{{ path('category_index') }}">Back to the list</a></p>
        <h1>Category edit</h1>

        {{ form_start(form) }}

        <div class="form-group">
            {{ form_label(form.name) }}
            {{ form_errors(form.name) }}
            {{ form_widget(form.name) }}
        </div>

        <div class="form-group">
            {{ form_label(form.description) }}
            {{ form_errors(form.description) }}
            {{ form_widget(form.description) }}
        </div>

        {{ form_label(form.submit) }}
        {{ form_end(form) }}

        <ul>
            <li>
                {{ form_start(delete_form) }}
                <input class="btn btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}
