{% extends 'base.html.twig' %}

{% block body %}
    <h1>Categories list</h1>

    {% if categories is empty %}
        <div class="alert alert-primary" role="alert">
            This is no categories created!
        </div>
    {% else %}
        <table class="table table-bordered">
            <thead class="thead-default">
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category in categories %}
                <tr>
                    <td>{{ category.name }}</td>
                    <td>{{ category.description }}</td>
                    <td>
                        <a class="btn btn-info" href="{{ path('category_show', { 'id': category.id }) }}">show</a>
                        <a class="btn btn-primary" href="{{ path('category_edit', { 'id': category.id }) }}">edit</a>
                        <a class="btn btn-primary" href="{{ path('category_show_posts', { 'id': category.id }) }}">posts</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

    <ul>
        <li>
            <a class="btn btn-success" href="{{ path('category_new') }}">Create a new category</a>
        </li>
    </ul>
{% endblock %}
